.movieList {
  list-style: none;
  padding: 0;
}

.movieItem {
  margin-bottom: 10px;
}

.movieLink {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.movieLink:hover {
  color: red;
}
